/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*cards as an input element*/

label {
    cursor: pointer;
}

label.card-input-element-label {
    width: 100%;
    font-size: 1rem;
}

.card-input-element + .card {
    border: 2px solid transparent;
    display: inline-table;
}

.card-input-element + .card:hover {
    cursor: pointer;
}

.card-input-element:checked + .card {
    border: 2px solid var(--btcpay-border-color-medium);
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

.card-input-element-label {
    height: 100%;
    margin-bottom: 0;
}

.card-input-element-label .card-img-top {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 150px;
    margin-top: 2rem;
}

.card-input-element:checked + .card::after {
    content: '✓';
    color: var(--btcpay-border-color-medium);

    font-size: 50px;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    right: 2rem;
    top: .5rem;
    text-align: center;
}

.card-body {
  padding: 2rem;
}

.services {
  display: grid;
  grid-gap: 30px;

}

@media (max-width: 767px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

@-webkit-keyframes fadeInCheckbox {
    from {
        opacity: 0;
        -webkit-transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes fadeInCheckbox {
    from {
        opacity: 0;
        transform: rotateZ(-20deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

.styled-checkbox {
    margin: 20px;
}

.styled-checkbox-label:hover {
    background-color: var(--btcpay-border-color-medium);
}

.styled-checkbox-label h3 {
    margin-left: 2rem;
}


.justdoitbutton:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.wizard .nav {
    position: relative;
    z-index: 1
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: var(--btcpay-border-color-medium);
    position: absolute;
    width: 85%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    z-index: 1;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}
