@{
    ViewData["Title"] = "How about some extra icing on top?";
    ViewData["CurrentStep"] = 5;
}
@model UpdateSettings<AdditionalServices, AdditionalDataStub>;
<form class="container" method="post" asp-action="AdditionalServices">
    @* <div asp-validation-summary="All" class="text-danger"></div> *@
    <input type="hidden" asp-for="Json"/>
    <div class="row mb-4">
        <h2 class=" text-center w-100">@ViewData["Title"]</h2>
    </div>
    <div>
        <div class="services">
          <partial for="Settings.ConfiguratorAddonSettings" name="Additional/ConfiguratorSettings"/>
          <partial for="Settings.BTCTransmuterSettings" name="Additional/BTCTransmuterSettings"/>
          <partial for="Settings.ThunderHubSettings" name="Additional/ThunderHubSettings"/>
          <partial for="Settings.LibrePatronSettings" name="Additional/LibrePatronSettings"/>
          <partial for="Settings.WooCommerceSettings" name="Additional/WooCommerceSettings"/>
          <partial for="Settings.ElectrumPersonalServerSettings" name="Additional/ElectrumPersonalServerSettings"/>
          <partial for="Settings.ElectrumXSettings" name="Additional/ElectrumXSettings"/>
          <partial for="Settings.TorRelaySettings" name="Additional/TorRelaySettings"/>
          <partial for="Settings.PiHoleSettings" name="Additional/PiHoleSettings"/>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg btn-continue">Continue</button>
    </div>
</form>

@section Scripts
{
    <script>
         $(document).ready(function(){      
             $(".services input[type=\"checkbox\"]").on("change input", function(){ 
                if(!$(this).attr("name").toString().endsWith(".Enabled")){
                    return;
                }  
                toggle.call($(this));
             }).each(toggle);
         });

         function toggle(){
            var card = $(this).parents(".service").first();
                if($(this).prop("checked")){
                   card.addClass("enabled")
                }else{
                    card.removeClass("enabled")
                }
         }

    </script>
}
