@{
    ViewData["Title"] = "How about some extra icing on top?";
    ViewData["CurrentStep"] = 5;
}
@model UpdateSettings<AdditionalServices, AdditionalDataStub>;
<form class="container" method="post" asp-action="AdditionalServices">
    @* <div asp-validation-summary="All" class="text-danger"></div> *@
    <input type="hidden" asp-for="Json"/>
    <div class="row mb-4">
        <h2 class=" text-center w-100">@ViewData["Title"]</h2>
    </div>
    <div class="row w-100">
        <div class="card-columns services">
          <partial for="Settings.ConfiguratorAddonSettings" name="Additional/ConfiguratorSettings"/>
          <partial for="Settings.BTCTransmuterSettings" name="Additional/BTCTransmuterSettings"/>
          <partial for="Settings.ThunderHubSettings" name="Additional/ThunderHubSettings"/>
          <partial for="Settings.LibrePatronSettings" name="Additional/LibrePatronSettings"/>
          <partial for="Settings.WooCommerceSettings" name="Additional/WooCommerceSettings"/>
          <partial for="Settings.ElectrumPersonalServerSettings" name="Additional/ElectrumPersonalServerSettings"/>
          <partial for="Settings.ElectrumXSettings" name="Additional/ElectrumXSettings"/>
          <partial for="Settings.TorRelaySettings" name="Additional/TorRelaySettings"/>
          <partial for="Settings.PiHoleSettings" name="Additional/PiHoleSettings"/>
        </div>
    </div>
    <div class="row w-100">
        <button type="submit" class="m-auto btn btn-primary btn-lg">Continue</button>
    </div>
</form>

<style>
    .services .card.service .service-form {
        max-height: 0;
        opacity:0;
            overflow-y:hidden;
        -webkit-transition: max-height 0.3s ease-out, opacity 0.1s ;
        -moz-transition: max-height 0.3s  ease-out, opacity 0.1s;
        -o-transition: max-height 0.3s ease-out, opacity 0.1s;
        transition: max-height 0.3s ease-out, opacity 0.1s;
    }
    
    .services .card.service.enabled .service-form {
        max-height: 500px;
        overflow-y:auto;
        opacity:1;
    }
</style>

@section Scripts
{
    <script>
         $(document).ready(function(){      
             $(".services input[type=\"checkbox\"]").on("change input", function(){ 
                if(!$(this).attr("name").toString().endsWith(".Enabled")){
                    return;
                }  
                toggle.call($(this));
             }).each(toggle);
         });

         function toggle(){
            var card = $(this).parents(".service").first();
                if($(this).prop("checked")){
                   card.addClass("enabled")
                }else{
                    card.removeClass("enabled")
                }
         }

    </script>
}
