@model UpdateSettings<ConfiguratorSettings, BTCPayServerDockerConfigurator.Controllers.DeployAdditionalData>
@{
    ViewData["Title"] = "Deploying your BTCPay Server!";
    ViewData["CurrentStep"] = 8;
}
<div class="container">
    @if (Model.Settings.DeploymentSettings.DeploymentType != DeploymentType.Manual)
    {
        <div class="row mb-4">
            <div class="col-md-6 col-sm-12 offset-md-3 card shadow-sm ">
                <h3 class="card-title">Response</h3>
                <div class="card-body">
                    <code>
                        @Html.Raw(Model.Additional.Output.Replace("\n", "<br/>"))
                    </code>
                    <code>
                        @Html.Raw(Model.Additional.Error.Replace("\n", "<br/>"))
                    </code>
                </div>
                @if (Model.Additional.ExitStatus != 0)
                {
                    <form class="card-footer" asp-action="Deploy">
                        <button type="submit" class="btn-primary btn-primary">Retry</button>
                    </form>
                }
            </div>

        </div>
    }
    <div class="row mb-4">
        <div class="col-md-6 col-sm-12 offset-md-3 card shadow-sm ">
            @if (Model.Settings.DeploymentSettings.DeploymentType != DeploymentType.Manual)
            {
                <h3 class="card-title">Executed commands</h3>
            }
            else
            {
                <h3 class="card-title">Copy these commands to your terminal</h3>
            }
            <div class="card-body">

                <code>
                    @Html.Raw(Model.Additional.Bash.Replace(Environment.NewLine, "<br/>"))
                </code>

            </div>

        </div>
    </div>
</div>