@model UpdateSettings<ConfiguratorSettings, BTCPayServerDockerConfigurator.Controllers.DeployAdditionalData>
@{
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/site.css"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@if (Model.Additional.InProgress)
{

    <code class="d-block my-2" id="output" >
        @Html.Raw(Model.Additional.Output?.Replace("\n", "<br/>"))
    </code>
    <script>
    
        function update(){
             $.ajax({url: window.location + "&json=true", success: function(result){
                 debugger;
                 if(!result.additional.inProgress){
                    window.top.location.reload();
                 }else{
                     window.setTimeout(update, 3000);
                 }
                $("#output").html(result.additional.output.replace(/\n/g, '<br/>'));
                var el = document.getElementById("output");
                el.scrollIntoView(false);
              }});
        }
        
        $(document).ready(update)
    </script>
}
else
{
    <span>DONE, redirecting main page.</span>
    <script>
        window.top.location.reload();
    </script>
}