@model BTCPayServerDockerConfigurator.Models.SSHClientExtensions.SSHCommandResult
<link rel="stylesheet" href="~/css/btcpayserver-bootstrap.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/btcpayserver-variables.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/btcpayserver-main.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    Layout = null;
}

@if (Model.ExitStatus == 0)
{
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <a href="@Model.Output" class="input-group-text">
                <span class="input-group-addon"></span>
                <img src="/assets/Onion_Color.svg" height="16">
            </a>
        </div>
        <input class="form-control border-right-0" onclick="this.select();" type="text" style="font-size:0.75em;" value="http://@Model.Output" readonly="">
        <div class="input-group-append">
            <a href="http://@Model.Output" class="input-group-text text-decoration-none  p-0 px-2" target="_parent">
                <span class="input-group-addon">⮞</span>
            </a>
        </div>
    </div>
}
else
{
    <span>Onion could not be loaded. Retrying in 3 seconds.</span>
    <script>window.setTimeout(window.location.reload.bind(window.location), 3000);
    </script>
}
