@{
    ViewData["Title"] = "Lightning Configuration";
    ViewData["CurrentStep"] = 4;
}
@model UpdateSettings<LightningSettings, AdditionalDataStub>;
<form class="container" method="post">
    <input type="hidden" asp-for="Json"/>
    <div class="row mb-4">
        <h2 class=" text-center w-100">@ViewData["Title"]</h2>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <label class="card-input-element-label">
                <input type="radio" asp-for="Settings.Implementation" value="clightning" class="card-input-element d-none"/>
                <div class="card dark shadow-sm w-100 h-100">
                    <div class="card-img-top" style="background-image: url(assets/clightning.png);"></div>
                    <div class="card-body">
                        <h3 class="card-title text-center">C-Lightning</h3>
                        <p class="card-text text-center">By Blockstream</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-4 mb-4">
            <label class="card-input-element-label">
                <input type="radio" asp-for="Settings.Implementation" value="phoenixd" class="card-input-element d-none"/>
                <div class="card shadow-sm w-100 h-100">
                    <div class="card-img-top" style="background-image: url(assets/phoenixd.png);"></div>
                    <div class="card-body">
                        <h3 class="card-title text-center">phoenixd</h3>
                        <p class="card-text text-center">by ACINQ</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-4 mb-4">
            <label class="card-input-element-label">
                <input type="radio" asp-for="Settings.Implementation" value="lnd" class="card-input-element d-none"/>
                <div class="card shadow-sm w-100 h-100">
                    <div class="card-img-top" style="background-image: url(assets/lnd.png);"></div>
                    <div class="card-body">
                        <h3 class="card-title text-center">LND</h3>
                        <p class="card-text text-center">by Lightning Labs</p>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 mb-4">
            <label class="card-input-element-label">
                <input type="radio" asp-for="Settings.Implementation" value="none" class="card-input-element d-none"/>
                <div class="card dark shadow-sm w-100 h-100">
                    <div class="card-body text-center py-5">
                        <h3 class="card-title">Skip for now</h3>
                        <p class="card-text">You can add Lightning support later via BTCPay plugins.</p>
                    </div>
                </div>
            </label>
        </div>
        <span asp-validation-for="Settings.Implementation" class="text-danger w-100 text-center"></span>
    </div>

    <div class="sticky-cta d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg btn-continue">Continue</button>
    </div>
</form>
