@model BTCTransmuterSettings

<div class="card shadow-sm ">
    <label class="d-flex justify-content-between px-2 pb-0 mb-0 styled-checkbox-label">
        <h3 class="card-title text-center pt-2  pb-0 mb-0">BTC Transmuter</h3>
        <input class="styled-checkbox" type="checkbox" asp-for="Enabled"/>
    </label>

    <div class="card-body">
        <p class="card-text">
            BTC Transmuter is an opt-in plugin for BTCPay that allows you to automate workflows around your bitcoin. You'll be able to automate trades on exchanges, send customized emails, set up hot wallets for transaction automization and even handle lighrning channels.
        </p>
        <div id="transmuter-body" style="visibility: hidden">
        </div>
    </div>
</div>