@model LibrePatronSettings

<div class="card service shadow-sm ">
    <label class="d-flex justify-content-between styled-checkbox-label">
        <h3 class="card-title  my-3">LibrePatron</h3>
        <input class="styled-checkbox" type="checkbox" asp-for="Enabled"/>
    </label>

    <div class="card-body">
        <p class="card-text">
            LibrePatron is A self-hosted Patreon alternative backed by BTCPay created by Jeff Vandrew Jr.
        </p>
        <div id="librepatron-body" class="service-form" >
                <span asp-validation-for="Enabled" class="text-danger"></span>
            <hr>
            <div class="form-group">
                <label asp-for="Host"></label>
                <input class="form-control" asp-for="Host">
                <span asp-validation-for="Host" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
