@model WooCommerceSettings

        <div class="card shadow-sm ">
            <label class="d-flex justify-content-between px-2 pb-0 mb-0 styled-checkbox-label">

                <h3 class="card-title text-center pt-2">WooCommerce</h3>

                <input class="styled-checkbox" type="checkbox" asp-for="Enabled"/>
            </label>
            <div class="card-body">
                <p class="card-text">
                    WooCommerce is an open-source e-commerce plugin for WordPress. This will install Wordpress + Woocommerce plugin + BTCPay plugin.
                </p>
                <div id="woocommerce-body" style="visibility: hidden">
                    <hr>
                    <div class="form-group">
                        <label asp-for="Host"></label>
                        <input class="form-control" asp-for="Host">
                        <span asp-validation-for="Host" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>